<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /hrsystem/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /hrsystem/index.html [L]
</IfModule>
